USE [TiendaEmprendedoresTc]
GO
/****** Object:  Table [dbo].[Carrito]    Script Date: 9/6/2026 21:25:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carrito](
	[id_carrito] [int] IDENTITY(1,1) NOT NULL,
	[fecha_creacion] [date] NOT NULL,
	[total_carrito] [decimal](10, 2) NULL,
	[id_estado_carrito] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ciudad]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ciudad](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[codigo_postal] [int] NOT NULL,
	[id_provincia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[id_cliente] [int] IDENTITY(1,1) NOT NULL,
	[apellidoNombre] [varchar](200) NOT NULL,
	[email] [varchar](200) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[DNI] [int] NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[fecha_registro] [date] NOT NULL,
	[id_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[DNI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_factura]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_factura](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](10, 2) NOT NULL,
	[subtotal] [decimal](10, 2) NOT NULL,
	[id_factura] [int] NOT NULL,
	[id_producto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Direccion]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Direccion](
	[id_direccion] [int] IDENTITY(1,1) NOT NULL,
	[calle] [varchar](200) NOT NULL,
	[numero] [int] NOT NULL,
	[descripcion] [varchar](200) NULL,
	[id_ciudad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_direccion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[id_envio] [int] IDENTITY(1,1) NOT NULL,
	[fecha_envio] [date] NOT NULL,
	[fecha_estimada_entrega] [date] NOT NULL,
	[costo_envio] [decimal](10, 2) NOT NULL,
	[id_estado_envio] [int] NOT NULL,
	[id_direccion] [int] NULL,
	[id_tipo_envio] [int] NOT NULL,
	[id_pedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id_estado] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_carrito]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_carrito](
	[id_estado_carrito] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_envio]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_envio](
	[id_estado_envio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_pago]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_pago](
	[id_estado_pago] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estado_pedido]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estado_pedido](
	[id_estado_pedido] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id_factura] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[total] [decimal](10, 2) NOT NULL,
	[nro_comprobante] [varchar](50) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_cliente] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Item_carrito]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item_carrito](
	[id_item_carrito] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[id_producto] [int] NOT NULL,
	[id_carrito] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item_carrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Metodo_pago]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Metodo_pago](
	[id_metodo_pago] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_metodo_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pago]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pago](
	[id_pago] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[id_factura] [int] NOT NULL,
	[id_metodo_pago] [int] NOT NULL,
	[id_estado_pago] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[id_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha_pedido] [date] NOT NULL,
	[id_cliente] [int] NOT NULL,
	[id_carrito] [int] NOT NULL,
	[id_estado_pedido] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[id_producto] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[stock] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[imagen] [varchar](200) NOT NULL,
	[id_categoria] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[id_rol] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_envio]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_envio](
	[id_tipo_envio] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[costo_base] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[apellidoNombre] [varchar](200) NOT NULL,
	[fecha_nacimiento] [date] NOT NULL,
	[email] [varchar](200) NOT NULL,
	[contraseña] [varchar](255) NOT NULL,
	[id_estado] [int] NOT NULL,
	[id_rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [df_estado_cliente]  DEFAULT ((1)) FOR [id_estado]
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD FOREIGN KEY([id_estado_carrito])
REFERENCES [dbo].[Estado_carrito] ([id_estado_carrito])
GO
ALTER TABLE [dbo].[Ciudad]  WITH CHECK ADD FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Detalle_factura]  WITH CHECK ADD FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[Detalle_factura]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Direccion]  WITH CHECK ADD FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[Ciudad] ([id_ciudad])
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD FOREIGN KEY([id_direccion])
REFERENCES [dbo].[Direccion] ([id_direccion])
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD FOREIGN KEY([id_estado_envio])
REFERENCES [dbo].[estado_envio] ([id_estado_envio])
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD FOREIGN KEY([id_tipo_envio])
REFERENCES [dbo].[Tipo_envio] ([id_tipo_envio])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD FOREIGN KEY([id_pedido])
REFERENCES [dbo].[Pedido] ([id_pedido])
GO
ALTER TABLE [dbo].[Item_carrito]  WITH CHECK ADD FOREIGN KEY([id_carrito])
REFERENCES [dbo].[Carrito] ([id_carrito])
GO
ALTER TABLE [dbo].[Item_carrito]  WITH CHECK ADD FOREIGN KEY([id_producto])
REFERENCES [dbo].[Producto] ([id_producto])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_estado_pago])
REFERENCES [dbo].[estado_pago] ([id_estado_pago])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_factura])
REFERENCES [dbo].[Factura] ([id_factura])
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD FOREIGN KEY([id_metodo_pago])
REFERENCES [dbo].[Metodo_pago] ([id_metodo_pago])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([id_carrito])
REFERENCES [dbo].[Carrito] ([id_carrito])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([id_cliente])
REFERENCES [dbo].[Clientes] ([id_cliente])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([id_estado_pedido])
REFERENCES [dbo].[estado_pedido] ([id_estado_pedido])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([id_categoria])
REFERENCES [dbo].[Categoria] ([id_categoria])
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([id_rol])
REFERENCES [dbo].[Rol] ([id_rol])
GO
ALTER TABLE [dbo].[Carrito]  WITH CHECK ADD  CONSTRAINT [chk_total_carrito] CHECK  (([total_carrito]>=(0)))
GO
ALTER TABLE [dbo].[Carrito] CHECK CONSTRAINT [chk_total_carrito]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [chk_dni_8_digitos] CHECK  (([DNI]>=(10000000) AND [DNI]<=(99999999)))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [chk_dni_8_digitos]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [chk_email_cliente] CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [chk_email_cliente]
GO
ALTER TABLE [dbo].[Clientes]  WITH CHECK ADD  CONSTRAINT [chk_fecha_cliente] CHECK  (([fecha_nacimiento]<getdate()))
GO
ALTER TABLE [dbo].[Clientes] CHECK CONSTRAINT [chk_fecha_cliente]
GO
ALTER TABLE [dbo].[Detalle_factura]  WITH CHECK ADD  CONSTRAINT [chk_cantidad_detalle] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Detalle_factura] CHECK CONSTRAINT [chk_cantidad_detalle]
GO
ALTER TABLE [dbo].[Detalle_factura]  WITH CHECK ADD  CONSTRAINT [chk_precio_unitario] CHECK  (([precio_unitario]>=(0)))
GO
ALTER TABLE [dbo].[Detalle_factura] CHECK CONSTRAINT [chk_precio_unitario]
GO
ALTER TABLE [dbo].[Detalle_factura]  WITH CHECK ADD  CONSTRAINT [chk_subtotal] CHECK  (([subtotal]>=(0)))
GO
ALTER TABLE [dbo].[Detalle_factura] CHECK CONSTRAINT [chk_subtotal]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [chk_costo_envio] CHECK  (([costo_envio]>=(0)))
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [chk_costo_envio]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [chk_fecha_entrega] CHECK  (([fecha_estimada_entrega]>=[fecha_envio]))
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [chk_fecha_entrega]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [chk_fecha_factura] CHECK  (([fecha]<=getdate()))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [chk_fecha_factura]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [chk_total_factura] CHECK  (([total]>=(0)))
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [chk_total_factura]
GO
ALTER TABLE [dbo].[Item_carrito]  WITH CHECK ADD  CONSTRAINT [chk_cantidad_item] CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Item_carrito] CHECK CONSTRAINT [chk_cantidad_item]
GO
ALTER TABLE [dbo].[Pago]  WITH CHECK ADD  CONSTRAINT [chk_fecha_pago] CHECK  (([fecha]<=getdate()))
GO
ALTER TABLE [dbo].[Pago] CHECK CONSTRAINT [chk_fecha_pago]
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD  CONSTRAINT [chk_fecha_pedido] CHECK  (([fecha_pedido]<=getdate()))
GO
ALTER TABLE [dbo].[Pedido] CHECK CONSTRAINT [chk_fecha_pedido]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_precio_producto] CHECK  (([precio]>(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_precio_producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [chk_stock_producto] CHECK  (([stock]>=(0)))
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [chk_stock_producto]
GO
ALTER TABLE [dbo].[Tipo_envio]  WITH CHECK ADD  CONSTRAINT [chk_costo_base_envio] CHECK  (([costo_base]>=(0)))
GO
ALTER TABLE [dbo].[Tipo_envio] CHECK CONSTRAINT [chk_costo_base_envio]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [chk_email_usuario] CHECK  (([email] like '%@%.%'))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [chk_email_usuario]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [chk_fecha_usuario] CHECK  (([fecha_nacimiento]<getdate()))
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [chk_fecha_usuario]
GO
/****** Object:  StoredProcedure [dbo].[sp_CambiarEstadoCarrito]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_CambiarEstadoCarrito]
    @id_carrito INT,
    @descripcion_estado VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY

        -- Validar que el carrito existe
        IF NOT EXISTS (SELECT 1 FROM Carrito WHERE id_carrito = @id_carrito)
        BEGIN
            RAISERROR('Carrito no encontrado.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el estado pedido existe
        IF NOT EXISTS (
            SELECT 1 FROM Estado_carrito 
            WHERE descripcion = @descripcion_estado
        )
        BEGIN
            RAISERROR('Estado de carrito no válido.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Validar que el carrito esté activo antes de cambiar
        IF NOT EXISTS (
            SELECT 1 FROM Carrito c
            INNER JOIN Estado_carrito ec 
                ON c.id_estado_carrito = ec.id_estado_carrito
            WHERE c.id_carrito = @id_carrito
              AND ec.descripcion = 'Activo'
        )
        BEGIN
            RAISERROR('Solo se puede modificar un carrito en estado Activo.', 16, 1);
            ROLLBACK TRANSACTION;
            RETURN;
        END

        -- Actualizar el estado
        UPDATE Carrito
        SET id_estado_carrito = (
            SELECT id_estado_carrito 
            FROM Estado_carrito 
            WHERE descripcion = @descripcion_estado
        )
        WHERE id_carrito = @id_carrito;

        COMMIT TRANSACTION;

        -- Devolver confirmación
        SELECT
            c.id_carrito,
            ec.descripcion AS estado_actual
        FROM Carrito c
        INNER JOIN Estado_carrito ec 
            ON c.id_estado_carrito = ec.id_estado_carrito
        WHERE c.id_carrito = @id_carrito;

    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ObtenerFacturasCliente]    Script Date: 9/6/2026 21:25:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_ObtenerFacturasCliente]
    @id_cliente INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el cliente existe
    IF NOT EXISTS (SELECT 1 FROM Clientes WHERE id_cliente = @id_cliente)
    BEGIN
        RAISERROR('Cliente no encontrado.', 16, 1);
        RETURN;
    END

    -- Cabecera de cada factura con estado del pedido
    SELECT
        f.id_factura,
        f.nro_comprobante,
        f.fecha,
        f.total,
        ep.descripcion          AS estado_pedido,
        te.descripcion          AS tipo_envio,
        ev.costo_envio,
        ee.descripcion          AS estado_envio
    FROM Factura f
    INNER JOIN Pedido      p  ON f.id_pedido        = p.id_pedido
    INNER JOIN estado_pedido ep ON p.id_estado_pedido = ep.id_estado_pedido
    LEFT  JOIN Envio       ev ON ev.id_pedido        = p.id_pedido
    LEFT  JOIN Tipo_envio  te ON ev.id_tipo_envio    = te.id_tipo_envio
    LEFT  JOIN estado_envio ee ON ev.id_estado_envio  = ee.id_estado_envio
    WHERE f.id_cliente = @id_cliente
    ORDER BY f.fecha DESC;

    -- Detalle de productos de cada factura
    SELECT
        df.id_factura,
        pr.nombre               AS nombre_producto,
        df.cantidad,
        df.precio_unitario,
        df.subtotal
    FROM Detalle_factura df
    INNER JOIN Producto pr ON df.id_producto = pr.id_producto
    WHERE df.id_factura IN (
        SELECT id_factura FROM Factura WHERE id_cliente = @id_cliente
    )
    ORDER BY df.id_factura;

END;
GO
