* {
  margin: 0; /*elimina el margen por defecto */
  padding: 0; /*elimina el relleno por defecto*/
  box-sizing: border-box;
}

html, body, #root {
  width: 100%; /*ocupa todo el ancho de la pantalla*/
  height: 100%; /*ocupa todo el alto de la pantalla*/
  background-color: #d6e8f7;
}